@page "/test"

@inject ToastService toastService

<PageTitle>Testing components</PageTitle>

<Input />

<br />

<Button>Botão</Button>
<Button Variant="secondary">Botão</Button>
<Button Variant="destructive">destructive</Button>

<br />

<Badge Variant="secondary">bad1</Badge>
<Badge Variant="destructive">bad2</Badge>

<br/>

<Button @onclick="@(() => toastService.ShowToast("conteúdo de sucesso", "Título", ToastLevel.Success))">Sucess</Button>
<Button @onclick="@(() => toastService.ShowToast("conteúdo de erro", "Título", ToastLevel.Error))">Error</Button>
<Button @onclick="@(() => toastService.ShowToast("conteúdo de aciso", "Título", ToastLevel.Warning))">Warning</Button>

<br />

<Dialog>
    <DialogTrigger>
        <Button Variant="primary">
            Abrir Dialog
        </Button>
</DialogTrigger>
   <DialogContent>
       <DialogTitle Class="bg-yellow-200">
           Um titulo
       </DialogTitle>

       o conteúdo 
       <DialogFooter>
           <DialogClose>
               <button>Fechar</button>
           </DialogClose>
       </DialogFooter>
   </DialogContent>
</Dialog>

<br />

<Accordion Class="w-full" type="AccordionType.Multiple">
    <AccordionItem value="trigger1">
        <AccordionTrigger>
            gatinho
        </AccordionTrigger>
        <AccordionContent>
            Conteúdo
        </AccordionContent>
    </AccordionItem>
    <AccordionItem value="trigger2">
        <AccordionTrigger>
            gatinho
        </AccordionTrigger>
        <AccordionContent>
            Conteúdo
        </AccordionContent>
    </AccordionItem>
</Accordion>

<br />

<Avatar>
    <AvatarImage src="https://img.cdndsgni.com/preview/11599815.jpg" alt="pika pika" />
    <AvatarFallback>PP</AvatarFallback>
</Avatar>

<Avatar>
    <AvatarImage alt="pika pika" />
    <AvatarFallback>PP</AvatarFallback>
</Avatar>

<br />



@code {
}