@namespace Shadcn.Components.Card

<div class="@(CnHelper.Cn(["text-sm text-muted-foreground", Class]))">
    @ChildContent
</div>

@code {
    [Parameter, EditorRequired] public RenderFragment? ChildContent { get; set; }
    [Parameter] public string Class { get; set; } = string.Empty;
}