@namespace Shadcn.Components.Card

<div class="@(CnHelper.Cn(["font-semibold leading-none tracking-tight", Class]))">
    @ChildContent
</div>

@code {
    [Parameter, EditorRequired] public RenderFragment? ChildContent { get; set; }
    [Parameter] public string Class { get; set; } = string.Empty;
}